.center.row {
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	max-width: 500px;
}
h1 {
	background-color: white;
	text-align: center;
}

div#output {
	overflow: auto;
	height: 300px;
	background-color: white;
}
