@(user: User)

@template("Hello"  + user.name + "!") {
  <div class="row">
    <div class="large-12 columns">
      <div id="output"></div>
    </div>
  </div>
  <div class="row collapse">
    <div class="large-10 columns">
      <input type="text" id="message" placeholder="Write something..."/>
    </div>
    <div class="large-2 columns">
      <button id="send" class="button postfix">Send</button>
    </div>
  </div>
} {
  <script src='@routes.Assets.at("javascripts/websocket.js")'></script>
  <script>
        $(window).load ( function ( ) {

          //sets the user color as background
          $("body").css("background-color", "@user.color");

          //init the websocket using the method of websocket.js
          initWebsocket('@routes.ChatController.websocket(user)');

          //doSend the text
          $('#send').click(function (e) {
            var m =  $('#message').val();
            if(m) {
              doSend(m);
              $('#message').val("");
            }
          });

          //also doSend the text when user hits return on the input
          $('#message').keypress(function(e) {
            if(e.which == 13) {
              $('#send').click();
            }
          });
        } );
    </script>
}
