@(loginForm: Form[User])

@template {
    @helper.form(action = routes.ChatController.login(), 'id -> "main-form") {
        <div class="row collapse">
            <div class="small-5 large-4 columns">
                <span class="prefix">User name</span>
            </div>
            <div class="small-7 large-8 columns">
                <input type="text" id="name" name="name" placeholder="Whatever" required="true" />
            </div>
        </div>
        <div class="row collapse">
            <div class="small-5 large-4 columns">
                <span class="prefix">Color</span>
            </div>
            <div class="small-7 large-8 columns">
                <input type="color" id="color" name="color" required="true" />
            </div>
        </div>
        <div class="row collapse">
            <div class="small-8 large-6 columns large-offset-3 small-offset-2">
                <button class="button expand success large" type="submit">Let's chat!</button>
            </div>
        </div>
    }
} {
    <script>
        $(window).load ( function ( ) {
            //sets a default random color
            //http://stackoverflow.com/questions/1484506/random-color-generator-in-javascript
            $('#color').val('#'+(Math.random()*0xFFFFFF<<0).toString(16));

            //sets the focus on the name
            $('#name').focus();
        } );
    </script>
}