@(title:String)(mainContent: Html)(javascriptContent: Html)
<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>UglyChat</title>
        <link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("normalize.css"))' />
        <link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("foundation.css"))' />
        <link rel="stylesheet" href='@routes.Assets.at("stylesheets/chat.css")' />
        <script src='@routes.WebJarAssets.at(WebJarAssets.locate("modernizr.js"))'></script>
    </head>
    <body>
        <div class="center row">
            <div class="large-12 columns">
                <div class="row">
                    <div class="large-12 columns">
                        <h1>@title</h1>
                    </div>
                </div>
                @mainContent
            </div>
        </div>
        <script src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.js"))'></script>
        <script src='@routes.WebJarAssets.at(WebJarAssets.locate("foundation.min.js"))'></script>
        <script>
        $(document).foundation();
        </script>
        @javascriptContent
    </body>
</html>
